---
title: GitLab CI/CD Training
suppress_header: true
description: "GitLab CI/CD Training"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Education

  .services-page
    .page-container.container
      .row
        .col-md-10.col-md-offset-1
          %h1.page-headline
            GitLab CI/CD Training
          #overview
            %h2
              Overview
            %p.services-text
              This class covers setting up continuous integration/continuous deployment (CI/CD) for your projects. It starts with a round-robin discussion of where your team is at with CI/CD today. It then focuses on what is CI/CD, why it should be used, and how to implement within GitLab. This class includes live demonstrations of the use of GitLab.
            %ul
              %li.services-text Delivery: This training can be delivered either remotely or on-site.
              %li.services-text Class length: 4 hours
          #syllabus
            %h2
              Syllabus
            %p.services-text
              %ul
                %li Where is your team today?
                %li What is CI/CD?
                %li GitLab CI/CD Overview
                %li CI/CD Setup, Config
                %li GitLab CI/CD Runners
                %li Q&A
          #resources
            %h2
              Pre-training Resources
            %p.services-text
              These resources act as prerequisites to the training and will help ensure you have a successful training session with the GitLab team.
            %ul
              %li.services-text 
                %a{href: 'https://www.youtube.com/watch?v=j16QHjv29A0'} Why you should move to Git
              %li.services-text
                %a{href: 'https://about.gitlab.com/features/gitlab-ci-cd/'} GitLab CI/CD overview


                




