---
layout: default
title: Demo - Security Testing
suppress_header: true
extra_css:
  - styles-2018.css
  - webcast.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Watch how GitLab helps you create secure applications
        %h2.page-subtitle Security testing demo

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Watch this 7-minute demo to learn more about GitLab’s application security testing capabilities and see how GitLab enables comprehensive security testing before the code is merged!
            %p With GitLab, all tests are automated into every merge request. You no longer need to choose between risk, cost and agility and there is no need to buy separate single-solution tools.

            %h3 What's in this video:
            %ul
              %li Application Security Testing Demo in GitLab
              %li View of complete security report on one page
              %li Static, Dynamic, Dependency, and Container

            %p Watch the video now for a demo of GitLab’s automated security testing.


        .col-md-4.col-md-offset-1
          %h3.margin-top0 Watch the demo
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1002
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1002, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  dataLayer.push({event: 'resources', mktoFormId: form.getId()});
                  return false;
                });
              });
        .confirmform{style: "visibility:hidden;"}
          .col-md-4.col-md-4.col-md-offset-1
            %a.btn.cta-btn.orange{ href: "https://www.youtube.com/watch?v=2SCu2p6-mec", target: "_blank" } Watch the demo
            %p.margin-top20 You will also receive a link to the demo sent to your inbox.
