---
layout: markdown_page
title: "Product Vision - Defend"
---

- TOC
{:toc}

This is the product vision for Defend.

## Overview

The Defend stage includes all features related to defending your applications and cloud infrastructure,
identifying and cataloging threats, vulnerabilities, and risks, and giving you the ability to manage and remediate
them.

GitLab helps you create, deliver, and manage secure applications in today's
modern infrastructure while also enabling DevOps methodologies and Digital Transformations.

Our first capability in Defend will be in the [Web Application Firewall](#web-application-firewall) category.
The first Minimal Viable Change to add capabilities for that category is to [Enable ModSecurity on your Kubernetes cluster ingress](https://gitlab.com/gitlab-org/gitlab-ce/issues/65192). This category is the first step to protecting your applications, by monitoring and being able to protect against
malicious traffic, which includes attacks like SQL injection and cross-site scripting.

<%= partial("direction/categories", :locals => { :stageKey => "defend" }) %>

## Prioritization Process

In general, we follow the same [prioritization guidelines](/handbook/product/#prioritization)
as the product team at large. Issues will tend to flow from having no milestone,
to being added to the backlog, to being added to this page and/or a specific
milestone for delivery.

You can see our entire public backlog for Defend at this
[link](https://gitlab.com/groups/gitlab-org/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=Defend);
filtering by labels or milestones will allow you to explore. If you find
something you're interested in, you're encouraged to jump into the conversation
and participate. At GitLab, everyone can contribute!

Issues with the "direction" label have been flagged as being particularly
interesting, and are listed in the sections below.

## Guiding Principles

### Listen first, then act
In line with our [Security Paradigm](https://about.gitlab.com/direction/secure/#security-paradigm), Defend features will inform
and report threats that occur as a first step. Once you explicitly tell GitLab to block traffic, users, or devices,
we will then block and drop those bad actors.

This is valuable to you because it means that you can introduce and configure security for your app gradually
over time without disrupting your end users. Examining the information about what GitLab Defend reports in
your app helps you ensure that the security settings are appropriate for your app and business will not
introduce more false positves nor permit more potentially bad actions than you are comfortable with.

### Inform action for other stages
One of GitLab's key advantages as a single DevOps platform is that all of our stages are integrated and tightly
connected. Defend will identify and protect against threats as they happen, but we will strive to be informative
to other stages to give you actionable next steps to close a vulnerability or point of exploit, not just defend it.

Not only does shifting left and acting on results earlier give your apps better security, it helps
[enable collaboration](/handbook/product/#enabling-collaboration) with everyone at your company.
We believe that security is everyone's responsibility and that [everyone can contribute](/company/strategy/#mission),
and informing other stages is a powerful way to do this. 

### Emphasize usability and convention over configuration
Defend capabilities will be pre-configured to provide value to protecting your applications.
Rather than require you to read documentation manuals and provide complex configuration files,
[GitLab will always provide reasonable defaults](/handbook/product/#convention-over-configuration)
out of the box.

We will provide the ability for advanced and customized configurations, but these will
only be needed based on your specific use case and when you feel comfortable doing so.

## Upcoming Releases

<%= direction %>

<%= partial("direction/other", :locals => { :stage => "defend" }) %>
